body {
  padding: 0px;
  margin: 0px;
}
.nav-bar {
  background-color: #1d3f86;
  color: white;
  font-size: large;
}
.nav-bar ul li {
  display: inline-block;
  padding: 40px;
}
.Content{
    display: flex;
    float: left;
}
.Mission{
    border: 1px solid red;
    margin-left: 10%;
}
.Mission h3 p{
    display: contents;
    justify-content: center;
}
button{
    color:blue;
    cursor: pointer;
}